In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import os
myDirFiles = "/content/drive/MyDrive/Deepublish Intern"
os.chdir(myDirFiles)

In [ ]:
!ls

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#Load Dataset

Deskripsi:

1. Deadline : Tanggal pemesanan
2. reseller : Penjual
3. Pic  : ....
4. Judul : Judul buku
5. order: jumlah pembelian
6. alamat
7. notelp
8. provinsi
9. kategori 1
10. kategori 2
11. kategori 3
12. Tahun
13. Penulis
14. isbn
15. kabupaten
16. sku

In [ ]:
df1 = pd.read_excel("Dataset Internship Deepublish.xls", sheet_name='orderds')
df1.head()

In [ ]:
df1.shape

In [ ]:
df2 = pd.read_excel("Dataset Internship Deepublish 2.xls", sheet_name='orderds(2)', header=None)
df2.head()

In [ ]:
df2.shape

#Data Preparation

##DF 1

In [ ]:
if (df1['penulis'] == '2021').any():
    print("Kolom penulis memiliki data yang berisikan tahun")
else:
    print("Kolom penulis tidak memiliki data yang berisikan tahun")

In [ ]:
for i, row in df1.iterrows():
    # Cek apakah data pada kolom penulis adalah digit
    if str(df1.at[i, 'penulis']).isdigit():
        # Pindahkan data dari kolom penulis ke kolom tahun
        df1.at[i, 'tahun'] = df1.at[i, 'penulis']
        df1.at[i, 'penulis'] = None

In [ ]:
# Cek apakah masih ada data berupa digit di kolom 12
if (df1['penulis'] == '2021').any():
    print("Kolom penulis memiliki data yang berisikan 'tahun'")
else:
    print("Kolom penulis tidak memiliki data yang berisikan 'tahun'")

In [ ]:
tipe_data_isbn = df1['isbn'].dtypes
print("Tipe data kolom 'isbn':", tipe_data_isbn)

**Karna pada kolom isbn terdapat nama penulis, dan tidak memungkinkan untuk dipindahkan dengan fungsi if, karna data pada ISBN juga string. Sehingga digunakan masking untukk  mengisi data penulis yang kosong dengan data yang ada di ISBN yang berada pada baris data yang sama.**

In [ ]:
# Checking Null Data
df1.isnull().sum()

In [ ]:
df1['penulis'].fillna(df1['isbn'], inplace=True)

In [ ]:
# Checking Null Data
df1.isnull().sum()

In [ ]:
df1.head()

##DF 2

In [ ]:
if (df2[12] == '2021').any():
    print("Kolom ke-12 memiliki data yang berisikan 'tahun'")
else:
    print("Kolom ke-12 tidak memiliki data yang berisikan 'tahun'")

In [ ]:
for i, row in df2.iterrows():
    # Cek apakah data pada kolom 12 adalah digit
    if str(df2.at[i, 12]).isdigit():
        # Pindahkan data dari kolom 12 ke kolom 11
        df2.at[i, 11] = df2.at[i, 12]
        df2.at[i, 12] = None

In [ ]:
# Cek apakah masih ada data berupa digit di kolom 12
if (df2[12] == '2021').any():
    print("Kolom ke-12 memiliki data yang berisikan tahun")
else:
    print("Kolom ke-12 tidak memiliki data yang berisikan tahun")

In [ ]:
# Checking Null Data
df2.isnull().sum()

**Karna pada kolom isbn terdapat nama penulis, dan tidak memungkinkan untuk dipindahkan dengan fungsi if, karna data pada ISBN juga string. Sehingga digunakan masking untukk  mengisi data penulis yang kosong dengan data yang ada di ISBN yang berada pada baris data yang sama.**

In [ ]:
df2[12].fillna(df2[13], inplace=True)

In [ ]:
# Checking Null Data
df2.isnull().sum()

In [ ]:
df2.head()

#Data Gabungan DF1 & DF2

**Karna jumlah kolom yang berbeda maka pada df2 kita hapuskan kolom 15 dan 16 yaitu harga**

In [ ]:
df2.drop(columns=[15, 16], inplace=True)

In [ ]:
df2.head()

In [ ]:
df1.shape

In [ ]:
df2.shape

In [ ]:
df1.columns

In [ ]:
df2.columns

In [ ]:
#mengubah nama kolom di df2
df2.rename(columns = {0:'deadline',
                      1:'pic',
                      2:'reseller',
                      3:'judul',
                      4:'order',
                      5:'alamat',
                      6:'notelp',
                      7:'provinsi',
                      8:'kategori1',
                      9:'kategori2',
                      10:'kategori3',
                      11:'tahun',
                      12:'penulis',
                      13:'isbn',
                      14:'kabupaten',
                      17:'sku'}, inplace = True)

In [ ]:
df=df1.append(df2)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

#Check Data Null

In [ ]:
# Checking Null Data
df.isnull().sum()

In [ ]:
data_kosong = df[df['penulis'].isnull()]
print(data_kosong)

#Remove Null Values

In [ ]:
df.dropna(subset='deadline', inplace=True)

In [ ]:
df.isnull().sum()

#Remove Some Columns

In [ ]:
df.drop(['alamat', 'notelp', 'kabupaten', 'sku'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
# Checking Null Data
df.isnull().sum()

#Remove Barus Closing

In [ ]:
# Membuat ekspresi reguler untuk mencari kata-kata dengan pola yang sesuai
pattern = r"CLOSE+E*"

# Mengekstrak baris yang memiliki kata dengan pola yang sesuai di kolom "judul"
result = df[df['judul'].str.contains(pattern, case=False, na=False, regex=True)]

# Menampilkan hasil
print(result)

In [ ]:
# Mengambil indeks baris yang ingin dihapus
indeks_baris_dihapus = result.index

# Menghapus baris dengan indeks yang ditemukan
dfnew= df.drop(indeks_baris_dihapus)

In [ ]:
dfnew.shape

In [ ]:
dfnew.head()

In [ ]:
# Checking Null Data
dfnew.isnull().sum()

In [ ]:
dfnew.head(25)

#Insight

##1. Top 10 Penulis dengan penjualan terbanyak

In [ ]:
top_writer = dfnew.groupby('penulis')['order'].sum().sort_values(ascending=False)
top_writer.head(10)

In [ ]:
# Mengelompokkan data berdasarkan penulis dan menjumlahkan penjualan buku
penulis_penjualan = dfnew.groupby('penulis')['order'].sum().reset_index()

# Mengurutkan data berdasarkan total penjualan buku
penulis_penjualan = penulis_penjualan.sort_values(by='order', ascending=False)

# Memilih 5 penulis teratas
top_10_penulis = penulis_penjualan.head(10)

# Membuat diagram batang dengan warna pastel
colors = ['lightblue', 'lightgreen', 'lightcoral', 'lightsalmon', 'lightseagreen']
plt.figure(figsize=(10, 6))
bars = plt.bar(top_10_penulis['penulis'], top_10_penulis['order'], color=colors)
plt.xlabel('Penulis')
plt.ylabel('Penjualan Buku')
plt.title('Top 10 Penulis dengan Penjualan Buku Terbanyak')
plt.xticks(rotation=45)

# Menampilkan nama penulis di atas setiap bar
for bar in bars:
    plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height(), int(bar.get_height()), ha='center', va='bottom')

plt.show()

##2. Korelasi antara penulis dengan penjualan buku

In [ ]:
writer_counts = dfnew.groupby('penulis')['judul'].nunique().sort_values(ascending=False)
writer_counts

In [ ]:
writer_data = pd.DataFrame({
    'Total_sales': top_writer,
    'Number of books': writer_counts
})

#find correlation
correlation = writer_data.corr().iloc[0,1]
print("Correlation value: ", correlation)

##Provinsi dengan penjualan buku

In [ ]:
# Mengelompokkan penjualan berdasarkan provinsi
provinsi_penjualan = dfnew.groupby('provinsi')['order'].sum().reset_index()

# Mengurutkan data berdasarkan total penjualan buku
provinsi_penjualan = provinsi_penjualan.sort_values(by='order', ascending=False)

# Palet warna pastel
colors = ['lightblue', 'lightgreen', 'lightcoral', 'lightsalmon', 'lightseagreen']

# Membuat grafik batang dengan warna pastel
plt.figure(figsize=(10, 6))
bars = plt.bar(provinsi_penjualan['provinsi'], provinsi_penjualan['order'], color=colors)
plt.xlabel('Provinsi')
plt.ylabel('Penjualan Buku')
plt.title('Penjualan Buku Berdasarkan Provinsi')
plt.xticks(rotation=45)

# Menampilkan jumlah penjualan di atas setiap bar
for bar in bars:
    plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height(), int(bar.get_height()), ha='center', va='bottom')

plt.show()

##penulis potensial

In [ ]:
# Penjualan Buku tiap Penulis
#writer_data['Sales per Book']=writer_data['Total_sales']/writer_data['Number of books']

#Identifikasi penulis
#potential_writer = writer_data[
#    (writer_data['Sales per Book'] > writer_data['Sales per Book'].median())&
#    (writer_data['Number of books'] < writer_data['Number of books'].median())
#]

#Menampilkan top 10 penulis berpotensial berdasarkan penjualan tiap buku
#potential_writer.sort_values(by='Sales per Book', ascending=False).head(10)

In [ ]:
datates= dfnew.copy()

In [ ]:
datates.head()

In [ ]:
# Menghitung rata-rata penjualan buku per judul tiap penulis
rata_rata_penjualan_per_judul = datates.groupby(['penulis', 'judul'])['order'].mean().reset_index()

# Menghitung jumlah total judul buku tiap penulis
jumlah_total_judul = datates.groupby('penulis')['judul'].nunique().reset_index()

# Menggabungkan data rata-rata penjualan per judul dan jumlah total judul
hasil = rata_rata_penjualan_per_judul.merge(jumlah_total_judul, on='penulis')

# Menampilkan penulis yang memiliki rata-rata penjualan buku tinggi per judul dan jumlah total judul rendah
penulis_potensial = hasil[
    (hasil['order'] > hasil['order'].median()) &
    (hasil['judul_y'] < hasil['judul_y'].median())
]

# Menampilkan top 10 penulis berpotensial
print(penulis_potensial)

In [ ]:
# Menampilkan top 10 penulis berpotensial
top_10_potential_writers = penulis_potensial.head(10)

# Membuat bar chart
plt.figure(figsize=(10, 6))
plt.bar(top_10_potential_writers['penulis'], top_10_potential_writers['order'], color='skyblue')
plt.xlabel('Penulis')
plt.ylabel('Rata-rata Penjualan per Judul')
plt.title('Top 10 Penulis Berpotensial')
plt.xticks(rotation=45)
plt.tight_layout()

# Menampilkan grafik
plt.show()

In [ ]:
# Mencari baris dengan ID ISBN 978-623-02-0180-6
ID_potensial_penulis = datates[datates["isbn"] == "978-623-02-0180-6"]

# Mencari baris dengan penulis "Agus Subagyo"
potensial_penulis = datates[datates["penulis"] == "Agus Subagyo"]

# Menghitung jumlah order
jumlah_order = datates["order"].sum()

# Menentukan apakah penjualan memiliki potensi
pt10_penulis = jumlah_order >= 100

# Mencetak hasil
if pt10_penulis:
    print("Penjualan buku dengan penulis Agus Subagyo dan ID ISBN 978-623-02-0180-6 memiliki potensi.")
else:
    print("Penjualan buku dengan penulis Agus Subagyo dan ID ISBN 978-623-02-0180-6 tidak memiliki potensi.")